@charset "utf-8";

/** Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {border:0; font:inherit; font-size:100%; margin:0; padding:0; vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
body {line-height:1}
ol, ul {list-style:none}
table {border-collapse:collapse; border-spacing:0}
html {height:100%;}
body {min-height:100%; font:13px/1.3em "Arial", "Helvetica", sans-serif; color:#999}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
header, section, footer, nav, article, aside, td>img {display:block}
caption, th, td {font-weight:400; text-align:left; vertical-align:top}
abbr,acronym {cursor:help}
abbr:hover, acronym:hover {color:#fff}
legend {color:#000}
iframe {border:none; overflow:hidden}
blockquote, 
q {quotes:'\00AB' '\00BB'}
p {padding:0 10px 30px}
canvas {-ms-touch-action:double-tap-zoom}

/** Animation */
a, div, img {transition-duration:.3s; transition-property:all}

:focus {outline:0}

body {background:url('../images/logo-black.jpg') center no-repeat #000; font-family:"Arial", sans-serif; font-size:16px; color:#333}
hr {margin:10px 0 50px; background:none; border:none; border-bottom:1px solid #999}
h1 {padding:10px 0; font-size:42px; line-height:42px; text-transform:uppercase; font-family:"Oswald", sans-serif}
p  {padding:20px 0}
 p + p {padding-top:0}
 p [class^="fx-bg-"] {display:inline; margin:-2px; padding:2px}

.ui-wrapper {margin:0 auto; max-width:940px; position:relative}
.link-br {position:absolute; bottom:50px; right:50px; font-size:12px; color:#444; text-align:right}
.link-br a {color:#444}